<div class="ui vertical menu" id="sidebar">
    <div class="item">
        <div class="ui input left">
            <input type="text" placeholder="Search...">
        </div>
    </div>

    <div class="item">
        Collections

    <div class="menu">
    {% for collection_option in collections_list %}
    <a class="item {% if collection_option == collection %}active{% endif %}" href="{{ collection_option.get_absolute_url }}">
    {{ collection_option }}
    </a>
    {% endfor %}
    </div>

    </div>
</div>