<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.rtl.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    {% block top_menu %}
    <header class="ui menu attached">
        <div class="header item">
            <h1 class="Logo">Sense</h1>
        </div>
    </header>
    {% endblock %}

    
    {% block content %}
    {% endblock %}
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <!--
    -->
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    {% block extrajs %}

    {% endblock %}

</body>
</html>