{% extends "base.html" %}
{% block menu %}
<header class="ui menu attached">
    <div class="header item">
        <h1 class="Logo">Sense</h1>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="ui container">
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
        </tr>
    </thead>
</table>
</div>
{% endblock %}


{% block extrajs %}
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function() {
        var dt = $('#example').DataTable({
            "ajax": {
                "url": "/api/collectionrows/?format=json",
                "dataSrc": "",
            },
            "pageLength": 50,
            "columns": [
                { "data": "name" },
                { "data": "position" },
                { "data": "salary" }
            ]
        });


        $("#addRow").on('click', function() {
            dt.row.add({"name": "", "position": "", "salary": ""}).draw(false);
        });
    });

</script>
{% endblock %}