<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <header>
        <h1 class="Logo">Sense</h1>
    </header>
    
    <div id="app">
        <div class="MainContents">
            <h2 contenteditable>Table Name</h2>
            <dynamic-table></dynamic-table>
        </div>
    </div>
     
    <script type="text/x-template" id="tmpl-function-instance">
        <div class='FuncInstance'>
            <div class="FuncInstance-wrapper">
            <div v-if="isEdit">
                <span class="FInstanceName-type">{{ fDef.name }}</span>
                <input class="FInstanceName-input" v-model='name'></input>
                <div v-for='param in fDef.parameters'>
                    <label class="FIParameter-label">{{ param.name }}</label><br>
                    <span v-if="param.type == 'number'">
                    <input type='number' v-model='args[param.name]'></input>
                    </span>
                    <span v-else>Unknown input type</span>
                </div>
                <div class="Button Button-save margin-top" v-on:click="saveEdit">
                    Save
                </div>
            </div>
            <div v-else v-on:click="toggleEdit">
                <span class="FInstanceName">
                    <span class="FInstanceName-label">{{ name }}</span>
                    <span class="FInstanceName-type">{{ fDef.name }}</span>
                </span>
                <span class="FInstanceOutput">
                    {{ output() }}
                </span>
            </div>
            </div>
        </div>
    </script>
    
    
    <script type="text/x-template" id="tmpl-dynamic-table">
        <div class="relative">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th v-for="col in columns">{{ col }}</th>
                </tr>
            </thead>
            
            <tbody>
                <template v-for="(row, rowindex) in renderedTable">
                    <tr>
                        <template v-for="(col, colindex) in row">
                            <template v-if="col.header">
                                <th v-bind:rowspan="col.rowspan">{{col.value}}</th>
                            </template>
                            <template v-else>
                                <td v-on:click="select(col, $event)" v-bind:rowspan="col.rowspan">{{col.value}}</td>
                            </template>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>
        
        
        <div class="CellInput" v-bind:class="{ hidden: !selected.active}" v-bind:style="{left: selected.x, top: selected.y, width: selected.width, height: selected.height}">
            <textarea v-model="selected.value"></textarea>
        </div>
        
        </div>
    </script>
    
    
    <script type="text/x-template" id="tmpl-key-val">
        <ul>
            <li v-for="item in items">
                <input class="inKey" v-model="item.key" autofocus></input>
                <input class="inVal" v-model="item.value" autofocus></input>
            </li>
            
            <input v-on:input="addNewKey" v-model="newkey"></input>
            <input v-on:input="addNewValue" v-model="newvalue"></input>
        </ul>
    </script>

    
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

</body>
</html>