body{
    margin:0;
    line-height:1.6;
    width: 100%;
    font-size:18px;
    color:#212121;
    padding:0 0x;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

h1,h2,h3{
    line-height:1.2
}

header h1 {
    padding: 10px 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.Sidebar {
    width: 239px;
    height: 100%;
    /* background-color: #f0f0f0; */
    border-right: 1px solid #f0f0f0;
    display: inline-block; 
    float: left;
    font-size: .9em;
}

.Sidebar ul li {
    border-bottom: 2.5px solid #fff;
    padding: 3px 10px
}

.MainContents {
    width: calc(100% - 240px);
    float: right;
}


.FuncInstance {
    border: 1px solid #aaa;
    padding: 8px;
    display: table;
}

.FuncInstance h1 {
    margin: 0;
}

.FuncInstance-wrapper {
    display: table-row;
}

.FInstanceName {
    display: inline-block;
    width: 180px;
    border-right: 1px solid #aaa;
    font-size: 1em;
    display: table-cell;
}

.FInstanceName-label, .FInstanceName-type {
    display: block;
    color: black;
    line-height: 1.4;
}
.FInstanceName-type {
    font-size: 0.7em;
    color: #333;
}

.FInstanceOutput {
    vertical-align: middle;
    display: table-cell;
    padding-left: 8px;
}