{% extends "collection_base.html" %}

{% block inner_content %}

    <a href="create"><button class="ui basic button">Add Entry</button></a>
    <table id="example" class="display" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
    </table>

{% endblock %}

{% block extrajs %}
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function() {
        var dt = $('#example').DataTable({
            "ajax": {
                "url": "/api/dataset/?format=json",
                "dataSrc": "",
            },
            "pageLength": 50,
            "columns": [
                { "data": "name" },
                { "data": "position" },
                { "data": "salary" }
            ]
        });


        $("#addRow").on('click', function() {
            dt.row.add({"name": "", "position": "", "salary": ""}).draw(false);
        });
    });

</script>
{% endblock %}